@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

header {
    display:block;
    font-size: 15px;
    background-color: cadetblue;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    
}
img {
    width: 200px;
    box-shadow: 8px 8px 8px black;
    max-width: 100%;
    height:auto;
    
}
div {
    margin-left: 50px;
}

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    padding: 30px;
    

}

footer {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    text-align: center;
    color: white;
    padding: 10px;
}

p {
    margin: -1px;
}

.mod {
    color: white;
}

nav {
    background-color: teal;
}