@media only screen and (min-width: 1200px) {

    .melaleuca {
        grid-column: 2/3;
    }
    
    .church {
      grid-column: 3/4;
    }
    
    .disney {
        grid-column: 4/5;
    }

  
header {
    height: 200px;
}
h1 {
    font-size: 45px;
}
h2{
    font-size: 35px;
}
h3 {
    font-size: 24px;
}
}