@media only screen and (min-width: 1200px) {

main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }
    .melaleuca {
        grid-column: 2/3;
    }
    
    .church {
      grid-column: 3/4;
    }
    
    .disney {
        grid-column: 4/5;
    }

    div a, div img { 
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }
header {
    height: 200px;
}
h1 {
    font-size: 45px;
}
h2{
    font-size: 35px;
}
h3 {
    font-size: 24px;
}
}