@media only screen and (min-width: 600px){ 
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
header {
    height: 150px;
    }   
  img {
      width: 100%;
  }

    main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }

    .melaleuca {
        min-width: 200px;
        grid-column: 2/3;
    }
    
    .church {
      grid-column: 3/4;
    }
    
    .disney {
        grid-column: 2/3;
    }
    
    footer p {
        grid-column: 1/5;
    }
    
  
}