@media only screen and (min-width: 600px){
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
 
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
header {
    height: 150px;
}
    
    main {
        display: grid;
    grid-gap: 20px;
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 10px;
        grid-template-rows: 2/5;
        
    }
    .melaleuca {
        grid-column: 3/4;
    }
    
    .church {
      grid-column: 4/5;
    }
    
    .disney {
        grid-column: 3/4;
    }
    
    footer p {
        grid-column: 2/8;
    }
    
    img {
        width: 350px;
    }