@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 24px;
}
h2{
    font-size: 18px;
}
h3 {
    background-color:darkslategray;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    border-radius: 20px 20px 0px 0px;
    height: 20px;
}

header {
    height: 80px;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px;
    min-width: 400px;

}

div a, div img { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 100%;
}
div a, p {
    margin-left: 10px;
    margin-right: 10px;
}


.melaleuca {

    grid-column: 2/2;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width: .5px;
    border-radius: 20px;  
    margin: 1em;
}



.church {

    grid-column: 2/2;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width: .5px;
    border-radius: 20px; 
    margin: 1em;
}

.disney {

    grid-column: 2/2;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width: .5px;
    border-radius: 20px; 
    margin: 1em;
}



footer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
footer p {
    background-color: teal;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    grid-column: 1/5;
    min-width: 400px;
}
