@media only screen and (min-width: 64em) {

  
    
    .headlettering h1 {
        font-size: 40px;
    }
    .headlettering p {
        font-size: 20px;
    }

    .big6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

.inactive {
    display: grid;
}


div.block1 {
    grid-template-columns: 1.3fr 2fr 2fr 1.3fr;
    grid-gap:40px;
}

.purpose {
    grid-column: 2;
}

.spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.spotlight div {
    display: block;
    max-width: 270px;
}

.weather {
    margin: 0px auto;
}


.responsive {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    
} 

.cards section:nth-child(1), .cards section:nth-child(5) {
    grid-column: 2;
}

.cards section:nth-child(2), .cards section:nth-child(6) {
    grid-column: 3;
}

.cards section:nth-child(3), .cards section:nth-child(7) {
    grid-column: 4;
}

.cards section:nth-child(4), .cards section:nth-child(8) {
    grid-column: 5;
} 

.cheyenne {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: .2fr .2fr .5fr;
}


.bw {
    grid-column: 2;
    width: 100%;
}

.pop {
    grid-column: 1;
    grid-row: 1;
}

.fair {
    display: none;
}

.history {
    grid-column: span 2;
    grid-row: 2;
}

.cheyenne p {
    font-size: 14px;
}




}