@media only screen and (min-width: 36em){ 


    header h1 {
        font-size: 40px;
        margin-bottom: -7px;
    }
      
    
        header img {
            align-self: center;
            justify-self: end;
        }
    
    header p {
        margin-top: 5px;
        font-size: 20px;
    }
    
        .hero {
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            max-width: 760px;
        }
    
        .navbar {
            display: flex;
        }
        
        .navbar li {
            display: block;
            flex: 1 1 auto;
        }
        
        .navbar a {
            text-align: center;
        }
        
        .navbar li:first-child {
            display: none;
        }

     .summary {
            position: absolute;
            top: 25px;
            left: 2rem;
            background: #ffffff;
            padding: 1.5rem;
            border: 1px solid #000;
            box-shadow: 0 0 30px #111;
            opacity: .8;
            font-size: 12px;
     }
     .summary h2{
        font-size: 15px;
    }
    .summary, p {
        margin: 5px auto;
    }
    
    .footer1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 720px;
        margin: 20px auto;
    }
    .footinfo {
    }
    
    .map {
        grid-column: -1;
        width: 300px;
    }
    
    
    .forecast {
        display: flex;
        max-width: 769px;
        margin: 10px auto;
        min-width: 340px;
    }
    
    .forecast div {
        margin: 10px auto;
        background-color: white;
        padding: 10px;
        text-align: center;
        width: 100px;
        border: 1px solid black;
    }
    
    div.gallery {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr minmax(260px, 370px) minmax(260px, 370px) 1fr; 
        margin: 10px;
    }

    .gallery img {
        max-width: 375px;
    }

    #galimg1, #galimg3, #galimg5, #galimg7, #galimg9 {
        grid-column: 2/3;
    }

    #galimg2, #galimg4, #galimg6, #galimg8 {
        grid-column: 3/4;
    }


form {
    padding: 20px;
}

div.areas section {
    max-width: 600px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.areas section:nth-child(odd) img {
    grid-column: 2;
    grid-row: 1/6;
    width: 100%;
    margin: 0 ;
}


.areas section:nth-child(even) img {
    grid-column: 1;
    grid-row: 1/6;
    width: 100%;
    margin: 0 ;
}

.areas section h3, p, p2, p3, p4 {
    margin: 0;
    padding: 0;
}

.areas section h3 {
    font-size: 40px;
}

.areas p {
    margin: 0px;
    font-size: 18px;
    margin-bottom: 10px;
}

.bulletin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-gap: 5px;
}

.bulletin .cohead {
    grid-row: 1;
    grid-column: 1/4;
}

.bulletin h3 {
    font-size: 18px;
}

.golden img {
    width: 60%;
}

.bulletin p {
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.shoes {
    width: 75%;
}

.shoes, .cans {
    display: block;
    margin: 10px auto;
    width: 75%;
}

.golden p {
    text-align: center;
    margin: 10px;
}




}