@media only screen and (min-width: 917px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

.navbar {
    display: flex;
}

.navbar li {
    display: block;
    flex: 1 1 auto;
}

.navbar a {
    text-align: center;
}

.navbar li:first-child {
    display: none;
}

.phones {
    display: block;
    float: right;
    display: block;
    opacity: .8;
    min-width: 240px;
    box-shadow: 0 0 30px #111;
    width: 200px;
    border: 1px solid black;
    margin-top: -85px;
    margin-right: 20px;
}


}