
body {
    background-color: #D6F3FF;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1, h2, h3 {
    font-family: Abril Fatface;
}

div.band {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #940F27;
    padding: 20px;
    height: 200px;
    margin: 0px auto;
    color: #FFFFFF;
    margin-top: 10px;
    border-top: 10px solid #076B94;
    border-bottom: 10px solid #076B94;
}

div.logo {
    display: grid;
    grid-column: span 2;
    justify-self: end;
}

.logo img {
    width: 100%;
    align-self: center;
}
.headlettering {
    grid-column: 3/6;
    justify-self: center;
    align-self: center;
    margin: 0px;
    margin-left: 5px;
}

.headlettering h1 {
    font-size: 20px;
}
.headlettering p {
    font-size: 12px;
}


nav {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 900px;
    background-color: #076B94;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li:first-child {
    display: block;
}

.navbar li {
    display: none;
}

.navbar a {
    display: block;
    padding: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}
.active a {
    background-color: #FFFFFF;
    color: #076B94;
    border: 4px solid #076B94;
}

.navbar a:hover {
    color: #FFFFFF;
    background-color: #940F27;
    border: 4px solid #076B94;
}

.responsivemenu li {
    display: block;
}

.big6 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 10px;
}

.big6 img {
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
}

a:link {
    text-decoration: none;
}

.hero {
    background-color: #076B94;
}

.herocall {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 20px;
    color: white;
}

.herocall h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 0px;
    border: 4px dotted #FFFFFF;
}

.herocall p:nth-child(1){
    text-align: center;
    background-color: #940F27;
    padding: 5px;
}

.herocall :nth-child(3){
    font-size: 22px;
}

.heroimg img {
    display: block;
    margin: 0 auto;
    padding-bottom: 8px;
    max-width: 100%;
}

div.block1 {
    grid-template-columns: 1fr;
}

div.block1 div{
    display: block;
    background-color: #FFFFFF;
    width: 100%;
    min-height: 300px;
    border-top: 4px solid #4A4825;
    border-bottom: 4px solid #4A4825;
    margin: 0px auto;
    margin-top: 20px;
}

.block1 h2 {
    color: #940F27;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.block1 p {
    color: #4A4825;
    padding: 10px;
    margin: 0px;
    font-size: 12px;
}

.purpose {
    grid-column: 1;
}

.upcoming {
    margin-top: -20px;
}

.upcoming p {
    grid-column: 1;
    font-size: 12px;
    padding-bottom: 0px;
    text-align: center;
}

.spotlight div{
    display: block;
    grid-template-columns: 1fr;
    background-color: #076B94;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #FFFFFF;
}

.spotlight :nth-child(3) img {
    padding: 0px;
    border: 10px solid #FFFFFF;
  
}
.spotlight div img {
    display: block;
    margin: 0px auto;
    grid-column: 1;
    padding-bottom: 10px;
}

.spotlight h2 {
    color: #FFFFFF;
    background-color: #940F27;
    height: 50px;
    grid-column: span 2;
    padding-top: 5px;
    padding-left: 10px;
}

.spotlight p {
    font-size: 12px;
    padding: 5px;
}

.hspot {
    color: #076B94;
    margin: 20px auto;
    width: 75%;
    padding: 20px;
    font-size: 45px;
    border: 4px dotted #076B94;
    max-width: 900px;
    text-align: center;
}

.ccity {
    color: #076B94;
    padding: 20px;
    margin: 30px auto;
    width: 70%;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    align-self: start;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    max-width: 400px;
    margin: 0px auto;
}

.ccity {
    grid-column: 1;
    grid-row: 1;
}

.weather img {
    grid-column: 1;
    grid-row: 1;
    margin: 10px auto;
    z-index: -1;
    width: 100%;
    opacity: 50%;

}

.forecast div {
    background-color: #076B94;
    color: #FFFFFF;
    width: 75px;
    padding: 4px;
    margin: 2px;
    text-align: center;
}

.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    width: 75%;
    margin: 2px auto;
    margin-bottom: 30px;
}

.current {
    background-color: #FFFFFF;
    border: 4px solid #076B94;
    text-align: center;
    color: #076B94;
    grid-column: 1;
    grid-row: 1;
    opacity: 70%;
    align-self: center;
    width: 72%;
    margin: 0px auto;
    margin-bottom: 40px;
}

.forecast h3 {
    display: none;
}

.forecast img {
    display: none;
}


.footer {
    display: block;
    background-color: #076B94;
    color: #4A4825;
    font-size: 12px;
    padding: 8px;
    max-width: 810px;
    margin: 20px auto;
}

.footer p {
    display: block;
    text-align: center;
    color: #FFFFFF;
}


.footer a:visited, .spotlight a:visited {
    color: #FFFFFF;  
}

.cards a:link, .responsive a:link {
    color: #076B94;
}

.cards a:visited, .responsive a:visited{
    color: #4A4825;
}

.cards a:hover .responsive a:hover{
    color: #940F27;
}

.footer a:link, .spotlight a:link {
    color: #FFFFFF;
}

.contactinfo a:link {
    color:#940F27;
}

.contactinfo a:visited{
    color: #940F27;
}

.contactinfo a:hover {
    color: #076B94;
}

.spotlight a:hover, .footer a:hover{
    color: #d0c5c8;
}

.join {
    display: block;
    background-color: #940F27;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: 8px;
    text-align: center;
}

.contactinfo {
    display: block;
    background-color: #FFFFFF;
    max-width: 780px;
    margin: 10px auto;
    padding: 20px; 
}

.mailboxes {
   display: none;
}

.cards section {
    background-color: #FFFFFF;
    max-width: 700px;
    min-width: 150px;
    margin: 0 auto;
}

.cards section, .responsive section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    padding: 8px;
}

.cards img {
    grid-column: 2;
    grid-row: 1/6;
}
.responsive section{
    display: block;
    background-color: #FFFFFF;
    min-width: 270px;
    max-width: 330px;
    width: 80%;
    height: 370px;
    margin: 0px auto;
}

.responsive a {
    font-size: 12px;
}
.cards h2, .responsive h2 {
    color: #940F27;
}

div.buttons {
    width: 120px;
    margin: 0px auto;
    padding: 20px;
}

.cards, .responsive {
    text-align: center;
    color:#4A4825;
}

.cards img, .responsive img{
    display: block;
    margin: 0px auto;
    padding: 20px;
    width: 50%;
    justify-content: center;
}

.cards section a, p2, p3, p4, .responsive {
    display: block;
    padding: 5px;
}

.cards section p {
    font-size: 12px;
}

.responsive {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
} 

.responsive section {
    grid-column: 2;
}

.cheyenne {
    display: grid;
    grid-template-columns: 1fr;
}

.pop, .history, .cfd {
    background-color: #FFFFFF;
    border: 4px solid #076B94;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.pop h3 {
    font-size: 40px;
    text-align: right;
}

.bw img {
    grid-column: 1;
}

.fair img {
    grid-row: 2;
}

.cheyenne img {
    margin: 20px auto;
    padding: 0px;
    width: 100%;
    box-shadow: 0 0 30px #111;
}

form {
    padding-top: 20px;
    display: block;
    background-color: #076B94;
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

form fieldset {
    margin: 10px;
}

form label, form div {
    display: block;
    padding: 10px;
    font-size: .9rem;
}

form legend {
    font-size: 20px;
}

form label.top input:required {
    border-left: #D6F3FF solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

h2.report {
    font-size: 40px;
    margin: 10px;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #D6F3FF;
    border-radius: 7px;
    padding: .8rem;
    color: #555;
    width: 90%;
    max-width: 18rem;
}

form input.submitBtn {
    background-color: #940F27;
    color: #FFFFFF;
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    margin-bottom: 10px;
}

form label textarea {
    width: 90%;
    height: 100px;
}

form label.level {
    font-size: 18px;
}

div.thankyou {
    max-width: 800px;
    padding: 45px;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: #076B94;
    background-color: #FFFFFF;

}

.map div {
    display: grid;

}

.smmap {
    margin: 0 auto;
    width: 100%;
}

.board {
    display: block;
    background-color: #FFFFFF;
    color: #076B94;
    margin: 30px auto;
    text-align: center;
    max-width: 820px;
}

.board h2 {
    background-color: #076B94;
    color: #FFFFFF;
    padding: 20px;
    font-size: 30px;
    margin: 0px;
}

.board h3 {
    color: #4A4825;
}

.board div {
    padding: 10px;
}

